@import './reset.css';
@import 'nprogress/nprogress.css';

#nprogress {
  pointer-events: none;
}

html,
body,
#app {
  font-size: 15px;

  @media screen and (width <= 1296px) {
    font-size: 13px;
  }

  @media screen and (width <= 1152px) {
    font-size: 12px;
  }

  @media screen and (width <= 1008px) {
    font-size: 11px;
  }

  @media screen and (width <= 864px) {
    font-size: 10px;
  }

  @media screen and (width <= 720px) {
    font-size: 9px;
  }
}
